<ion-view view-title="Home" class="shop-view">
  <ion-tabs class="tabs-icon-top tabs-striped tabs-background-balanced tabs-color-light shop-tabs">

    <!--Home-->
    <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="app.shop.home">
      <ion-nav-view name="shop-home"></ion-nav-view>
    </ion-tab>
    <!--chats-->
    <ion-tab title="Chats" icon-on="ion-ios-chatboxes" icon-off="ion-ios-chatboxes-outline" ui-sref="app.shop.popular">
      <ion-nav-view name="shop-popular"></ion-nav-view>
    </ion-tab>
    <!--Add-->
    <ion-tab title="Add" icon-on="ion-ios-plus" icon-off="ion-ios-plus-outline" ui-sref="app.shop.add">
      <ion-nav-view name="shop-add"></ion-nav-view>
    </ion-tab>

     <!--Exchange Rate-->
    <ion-tab title="Exchange" icon-on="ion-ios-calculator" icon-off="ion-ios-calculator-outline" ui-sref="app.shop.exchange">
      <ion-nav-view name="shop-exchange"></ion-nav-view>
    </ion-tab>

     <!--More-->
    <ion-tab title="More" icon-on="ion-ios-settings" icon-off="ion-ios-settings-strong" ui-sref="app.shop.more">
      <ion-nav-view name="shop-more"></ion-nav-view>
    </ion-tab



  </ion-tabs>
</ion-view>
