<ion-view view-title="Exchange Rate">
    <ion-content>
<<ion-view class="shop-home-view" view-title="Exchange Rate">
    <ion-content>
        <ul class="list">
            <div class="item item-divider">

                <div class="row">
                    <div class="col col-50">
                        Currency
                    </div>
                    <div class="col col-50">
                       Value
                    </div>
                </div>
            </div>
            <li class="item" ng-repeat="( key,itm) in exchangerate.rates">
                <div class="row">
                    <div class="col col-50">
                        {{key}}
                    </div>
                    <div class="col col-50">
                        {{itm}}
                    </div>
                </div>


            </li>
        </ul>
    </ion-content>
</ion-view>
  

</div>
    </ion-content>
</ion-view>